.form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 100%;

	&__fields {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&__field {
		width: 100%;
	}

	&__error {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		&-message {
			min-height: 1rem;
			font-size: 0.875rem;
			color: var(--destructive);
		}
	}
}
