.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100dvh;
}

.notfound {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	padding: 2rem 1.5rem;
	border-radius: var(--radius);
	background: var(--card);
	box-shadow: var(--box-shadow);
	max-width: 22rem;
	width: 100%;

	&__title {
		color: var(--primary);
	}

	&__message {
		color: var(--secondary);
	}

	&__link {
		color: var(--accent);
		text-decoration: none;
		transition: background 0.3s ease;
	}
}
