.field {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;

	&__label {
		font-size: 16px;
		font-weight: 400;
		position: relative;

		&-star {
			font-size: 10px;
			font-weight: 400;
			position: absolute;
			margin-left: 2px;
			color: var(--destructive);
		}
	}

	&__input {
		padding: 0.6rem;
		border: 1px solid var(--input-border);
		border-radius: 8px;
		outline: none;
		transition: border-color 0.2s;
		font-size: 0.8rem;
		background: transparent;
		color: var(--primary);

		&:focus {
			border-color: var(--input-focus);
		}

		&::placeholder {
			color: var(--input-placeholder);
		}
	}

	&__error {
		min-height: 1rem;
		display: flex;
		align-items: center;
	}

	&__error-message {
		font-size: 0.875rem;
		color: var(--destructive);
	}
}
