.chat-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	padding: 8px 12px;
	cursor: pointer;
	transition: background-color 0.2s ease;
	border-bottom: var(--border);

	&:hover {
		background: var(--sidebar-active);
	}

	/* Левая часть */
	&__left {
		display: flex;
		align-items: center;
		flex: 1;
		min-width: 0;
	}

	&__avatar {
		position: relative;
		margin-right: 12px;

		img {
			width: 48px;
			height: 48px;
			border-radius: 50%;
			object-fit: cover;
			display: block;
		}
	}

	&__online-dot {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 12px;
		height: 12px;
		background: var(--online);
		border: var(--sidebar-primary-foreground);
		border-radius: 50%;
	}

	/* Информация о чате */
	&__info {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 4px;
		min-width: 0;
		overflow: hidden;
		//background: red;
	}

	&__name {
		font-weight: 600;
		font-size: 15px;
		color: var(--foreground);
		margin-bottom: 2px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__status {
		font-size: 13px;
		line-height: 1.4;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
		word-wrap: break-word;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		color: var(--secondary);
	}

	&__typing {
		color: var(--online);
		font-style: italic;
		font-weight: 500;
	}

	&__last-message {
		font-weight: 400;
		font-size: 14px;
		line-height: 114%;
		color: var(--secondary);
	}

	&__empty {
		color: var(--secondary);

		font-style: italic;
	}

	/* Правая часть */
	&__meta {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 4px;
		min-width: 55px;
		font-size: 12px;
		color: var(--secondary);
	}

	&__time {
		font-size: 12px;
		color: var(--secondary);
	}

	&__tick {
		font-size: 12px;
		line-height: 1;
		color: var(--secondary);

		transition: color 0.3s ease;

		&--read {
			color: var(--online);
		}

		svg {
			width: 18px;
			height: 18px;
		}
	}
}

.chat-item__typing {
	display: flex;
	align-items: center;
	gap: 4px;
}

.dot {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: var(--online);
	animation: chatBlink 1.4s infinite ease-in-out both;

	&:nth-child(1) {
		animation-delay: -0.32s;
	}
	&:nth-child(2) {
		animation-delay: -0.16s;
	}
}

/* мигание точек */
@keyframes chatBlink {
	0%,
	80%,
	100% {
		transform: scale(0.6);
		opacity: 0.4;
	}
	40% {
		transform: scale(1);
		opacity: 1;
	}
}
