@use '@/styles/mixins' as *;
@use '@/styles/breakpoints' as *;

.sidebar {
	border-top: var(--border);
	border-left: var(--border);
	border-bottom: var(--border);
	min-height: 100%;
	width: 33%;
	display: flex;
	flex-direction: column;
	background: var(--sidebar);
	box-sizing: border-box;
	border-radius: var(--radius) 0 0 var(--radius);
	height: 44px;

	@include respond(md) {
		display: none;

		&--mobile {
			display: flex;
			border-radius: var(--radius);
			border: var(--border);
		}
	}

	&__header {
		text-transform: capitalize;
		border-bottom: var(--border);
		padding: 18px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow-y: auto;
	}

	&__item {
		cursor: pointer;
		transition: background 0.2s ease;

		&:hover {
			background: var(--color-bg-hover);
		}
	}

	&__empty {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		color: var(--sidebar-foreground);

		p {
			padding: 18px;
		}
	}

	&__controls {
		display: flex;
		align-items: center;
		border-top: var(--border);
		background: var(--sidebar);
		padding: 0;
		border-radius: 0 0 var(--radius) var(--radius);
	}

	&__logout {
		all: unset;
		display: flex;
		align-items: center;
		gap: 6px;
		flex: 1;
		padding: 12px 16px;
		border-left: var(--border);

		color: var(--sidebar-foreground);
		cursor: pointer;
		font-size: 15px;
		font-weight: 600;
		transition: background-color 0.2s;

		&:hover {
			background: var(--sidebar-hover);
		}

		&:active .sidebar__logout-icon {
			color: var(--accent);
		}

		&-icon {
			width: 18px;
			height: 18px;
			color: inherit;
			flex-shrink: 0;
		}
	}
}
