@use 'sass:map';

$breakpoints: (
	'xl': 1280px,
	'lg': 1024px,
	'md': 768px,
	'sm': 640px,
);

@mixin respond($breakpoint) {
	$size: map.get($breakpoints, $breakpoint);

	@if $size {
		@media (max-width: $size) {
			@content;
		}
	} @else {
		@warn "⚠️ Breakpoint `#{$breakpoint}` not found in $breakpoints map.";
	}
}
