@use './variables' as *;

body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	background: var(--background);
	color: var(--foreground);
	min-height: 100%;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--primary-foreground);
	text-decoration: none;
}

.button {
	all: unset;
	padding: 8px 18px;
	color: var(--primary-foreground);
	background: var(--primary);
	border: none;
	border-radius: 22px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	display: inline-block;
	transition: background-color 0.3s;

	&--outline {
		color: var(--primary);
		border: 1px solid var(--primary);
		background: none;

		a {
			color: var(--primary);
			text-decoration: none;
		}
	}

	&:focus {
		outline: none;
		//box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.4);
	}

	&--disabled {
		background-color: #ccc;
		cursor: not-allowed;
		pointer-events: none;
	}
}
